.vscode/**
.vscode-test/**
.github/**
src/**
coverage/**
roadmap/**
.gitignore
.yarnrc
.env*
vsc-extension-quickstart.md
architecture.md
sequence.md
pending-completion.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
